.main-component {
	padding: 10px 20px;

	flex: 1;
	display: grid;
	gap: 10px;
	grid-auto-rows: max-content;

	.exchange-rates {
		display: flex;
		justify-content: space-around;

		.purchasable {
			color: deeppink;
		}
	}
}
