.main-component {
	padding: 10px 20px;
	max-width: 900px;
	margin: 0 auto;

	height: fit-content;
	flex: 1;
	display: grid;
	gap: 10px;
	grid-auto-rows: max-content;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.products {
		display: flex;
		justify-content: space-between;

		> div {
			width: 49%;

			pre {
				display: flex;
				flex-direction: column;

				.line {
					display: grid;
					grid-auto-flow: column;
					gap: 10px;
					align-items: center;
					grid-template-columns: 1fr 170px;

					span {
						display: grid;
						gap: 5px;
						grid-auto-flow: column;
						grid-template-columns: auto 1fr;
						align-items: center;

						img {
							width: 20px;
						}
					}

					input {
						text-align: center;
					}
				}

				.purchasable {
					color: deeppink;
				}
			}
		}
	}

	.subtotal {
		code {
			display: flex;
			align-items: center;

			button {
				margin-left: 10px;
			}
		}
	}
}
