.main-component {
	padding: 10px 20px;

	flex: 1;
	display: grid;
	gap: 10px;
	grid-auto-rows: max-content;

	.exchange-rates {
		display: flex;
		justify-content: space-between;

		> div {
			width: 49%;

			pre {
				display: flex;
				flex-direction: column;

				.line {
					display: grid;
					grid-auto-flow: column;
					gap: 10px;
					align-items: baseline;
					grid-template-columns: 1fr 130px;

					.quantity-field {
						margin-top: 10px;
					}
				}

				.purchasable {
					color: deeppink;
				}
			}
		}
	}

	footer {
		code {
			display: flex;
			align-items: center;

			button {
				margin-left: 10px;
			}
		}
	}
}
