* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
}

#root {
	font-family: Roboto, sans-serif;
	background: #e2e1e1;
	display: flex;
	overflow: auto;
}

pre,
code {
	font-family: 'DM Mono', monospace;
	line-height: 1.5;
	font-size: 16px;
}

button {
	cursor: pointer;
}

input {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&[type='number'] {
		-moz-appearance: textfield;
	}
}

.loading-center {
	width: 100% !important;
	height: 100% !important;

	display: flex !important;
	align-items: center;
	justify-content: center;

	animation: none !important;
	svg {
		width: 40px;
		height: 40px;
		animation: MuiCircularProgress-keyframes-circular-rotate 1.4s linear infinite;
	}
}

.filler {
	flex: 1;
	border-bottom: 2px dotted;
	margin: 0 7px 4px;
}
